<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdn.socket.io/3.0.5/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title><%- name %></title>
</head>

<body>

    <header></header>

    <main class="centered">

        <div class="topnav">
            <a class="active" href="home">ثبت پرونده</a>
        </div>
        <div class="w3-container w3-card-4 w3-light-grey">
            <div class="info">
                <table>
                    <tr>
                        <td>
                            <label for="fname" class="label">نام و نام خانوادگی:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" id="fname" name="fname" class="input w3-input w3-border w3-round-large" readonly
                                value='<%- name %>'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="pet_type" class="label">نوع حیوان:</label>
                        </td>
                        <td>
                            <div>
                                <input type="text" id="pet_type" class="input w3-input w3-border w3-round-large"
                                    name="pet_type" readonly value='<%- pet_type %>'>
                            </div>
                        </td>
                        <td>
                            <label for="age" class="label">سن:</label>
                        </td>
                        <td class="td-input">
                            <input type="text" class="input w3-input w3-border w3-round-large" id="age" name="age"
                                readonly value='<%- age %>'>
                        </td>
                        <td>
                            <label for="gender" class="label">جنس:</label>
                        </td>
                        <td>
                            <input type="text" name="gender" id="gender" class="input w3-input w3-border w3-round-large"
                                placeholder="-" value="<%- gender %>" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="history" class="label">تاریخچه:</label>
                        </td>
                        <td>
                            <input class="input w3-input w3-border w3-round-large" id="history" name="history"
                                readonly value='<%- his %>'>
                        </td>
                        <td>
                            <label for="case" class="label">شکایت اصلی:</label>
                        </td>
                        <td>
                            <input type="text" class="input w3-input w3-border w3-round-large" id="case" name="case"
                                readonly value='<%- visit_case %>'>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-container w3-card-4 w3-light-grey" style="margin-top: 15px; padding-top: 5px;">
            
            <div class="container row">
                <div class="column">
                    <table class="search_table cases_table">
                        <thead>
                            <th>خدمات</th>
                            <!-- render the data comming from doctor -->
                            <th>قیمت</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <table class="search_table cases_table" id="drug_table">
                        <thead>
                            <th>
                                نام دارو
                            </th>
                            <th>
                                قیمت (تومان)
                            </th>
                        </thead>
                        <tbody>
                            
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td  style="text-align: center;">
                                    <label for="total_drug" class="input w3-round-large">جمع کل داروها</label>
                                </td>
                                <td>
                                    <input type="text" name="price" class="input w3-input w3-border w3-round-large" placeholder="قیمت" readonly>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            
            <table class="container info confirm">
                <tr>
                    <td style="text-align: left;"><label for="total">جمع کل:</label></td>
                    <td>
                        <input type="text" id="total" style="text-align: center;" value="0" class="input w3-input w3-border w3-round-large total" readonly>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <label for="responsible">مسئول پرونده:</label>
                    </td>
                    <td>
                        <select class="w3-select w3-border" name="responsible" id="responsible">
                            <option value="1" disabled selected>مسئول پرونده</option>
                            <option value="2">خانم محمودی</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <label for="deposit">بیعانه:</label>
                    </td>
                    <td>
                        <input class="input w3-input w3-border w3-round-large" type="text" name="deposit" id="deposit" placeholder="بیعانه">
                    </td>
                    <td>
                        <p>روش پرداخت:</p>
                    </td>
                    <td>
                        <label for="cash">نقد</label>
                        <input type="radio" name="pay_method" id="cash" value="نقد" class="w3-radio">
                    </td>
                    <td>
                        <label for="transfer">انتقال</label>
                        <input type="radio" name="pay_method" id="transfer" value="انتقال" class="w3-radio">
                    </td>
                    <td>
                        <label for="card">کارتخوان</label>
                        <input type="radio" name="pay_method" id="card" value="کارتخوان" class="w3-radio">
                    </td>
                </tr>
                <tfoot>
                    <tr>
                        <td>
                            <input id="sendSubmit" type="button" value="ثبت اطلاعات" class="w3-button w3-round-large w3-green">
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </main>
    <footer></footer>
    <script>
        $(document).ready(()=>{
            var socket = io('http://192.168.1.105:3001')
            socket.on('connection')

            socket.on('confirmData', (data)=>{
                let dt = JSON.parse(data)
                for (let i = 0; i < dt.length; i++) {
                    if (dt[i].name == "drug") {
                        $('#drug_table tbody').append(`
                                <tr>
                                    <td>
                                        <input type="text" name="drug" class="input w3-input w3-border w3-round-large" value="${dt[i].value}" readonly>
                                    </td>
                                    <td>
                                        <input type="text" name="price" class="input w3-input w3-border w3-round-large" value="${dt[i+1].value}" readonly>
                                    </td>
                                </tr>
                        
                        `)
                        //append data to drug table
                    }
                    else {
                        //append data to confirm data table
                    }
                  
                }  
            })
        })
    </script>
</body>

</html>